<a href="https://colab.research.google.com/github/ricmatuk/seminariogit/blob/master/Scrap_byma_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***BYMA DATA***

## Inicializar

In [ ]:
import requests
import json
import urllib3
urllib3.disable_warnings()
import pandas as pd

## Genero una sesion para mantener las cookies.

s = requests.session()
s.get('https://open.bymadata.com.ar/#/dashboard', verify=False)

## Fuerzo los headers que necesito (no se si es indispensable, pero asi me funciono)
headers = {
    'Connection': 'keep-alive',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="96", "Google Chrome";v="96"',
    'Accept': 'application/json, text/plain, */*',
    'Content-Type': 'application/json',
    'sec-ch-ua-mobile': '?0',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36',
    'sec-ch-ua-platform': '"Windows"',
    'Origin': 'https://open.bymadata.com.ar',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Dest': 'empty',
    'Referer': 'https://open.bymadata.com.ar/',
    'Accept-Language': 'es-US,es-419;q=0.9,es;q=0.8,en;q=0.7',
}

# Consultas generales

## Consulta de diccionario de abreviaturas y etc

In [ ]:
response = s.get('https://open.bymadata.com.ar/assets/api/langs/es.json', headers=headers)

diccionario = json.loads(response.text)

## Consulta de Market Time [?]

In [ ]:
data = '{}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/market-time', headers=headers, data=data)

response.text

'{"isWorkingDay":true,"marketClosingTime":"17:00:00","timezone":"GMT-03:00","marketOpeningTime":"11:00:00"}'

## Consulta de indices renta variable

El resto de las consultas del dashboard no las puedo chequear porque los capos devuelven todo vacio a esta hora. Mañana intento completar el resto.

In [ ]:
data = '{"Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/index-price', headers=headers, data=data, verify=False)
indices = json.loads(response.text)['data']
df_indices = pd.DataFrame(indices)

df_indices

        symbol sourceCode  ... previousClosingPrice  variation
0            G       BYMA  ...           3422650.99  -0.001927
1            M       BYMA  ...             81947.65  -0.001990
2      SPBYCAP       BYMA  ...              2809.85  -0.018389
3   SPBYMAIG10       BYMA  ...              1696.36  -0.004981
4   SPBYMAIG15       BYMA  ...              5382.10  -0.005516
5   SPBYMAIG20       BYMA  ...              2300.29  -0.006530
6   SPBYMAIG25       BYMA  ...              9909.00  -0.003071
7   SPBYMAIG30       BYMA  ...              3460.36   0.003913
8   SPBYMAIG40       BYMA  ...              1731.14  -0.000064
9   SPBYMAIG50       BYMA  ...              2417.30   0.012489
10  SPBYMAIG55       BYMA  ...              2231.49  -0.001949
11  SPBYMAIG60       BYMA  ...              2373.04   0.001445
12    SPBYUEAP       BYMA  ...              2074.10  -0.003471

[13 rows x 11 columns]

## Consulta de ultima cotizacion

In [ ]:
data = '{"symbol":"ALUA","settlementType":"1","Content-Type":"application/json"}'  ## Cambiar symbol y/o settlementType para diferentes especies y plazos (3 = 48, 2 = 24, 1 = CI)
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/fichatecnica/especies/cotizacion', headers=headers, data=data)
last = json.loads(response.text)

last['data']

[{'bidPrice': 99.3,
  'closingPrice': 0,
  'denominationCcy': 'ARS',
  'imbalance': -0.0104,
  'market': 'BYMA',
  'numberOfOrders': 27,
  'offerPrice': 99.6,
  'openingPrice': 101,
  'previousClosingPrice': 100.75,
  'previousSettlementPrice': 100.75,
  'quantityBid': 33,
  'quantityOffer': 100,
  'securityDesc': '',
  'securitySubType': 'M',
  'securityType': 'CS',
  'settlementPrice': 99.7,
  'settlementType': '1',
  'symbol': 'ALUA',
  'tickDirection': 0,
  'trade': 99.7,
  'tradeHour': '14:28:57',
  'tradeVolume': 3690,
  'tradingHighPrice': 101,
  'tradingLowPrice': 98.6,
  'volume': 3690,
  'volumeAmount': 366039,
  'vwap': 99.197561}]

## Consulta de cierres diarios

In [ ]:
params = (
    ('symbol', 'AL30 CDO'),  ## Nombre de especie y plazo (CDO / 24HS / 48HS)
    ('resolution', 'D'), ## puede ser D - Diario, S - Semanal, M - Mensual, 
    ('from', '1605576698'), ## Unix epoch, se deberia poder armar como int(datetime.datetime(AÑO,MES,DIA,HORA,MINUTOS).timestamp())
    ('to', '1639445558'),
)

response = s.get('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/chart/historical-series/history', params=params)

"""
trae un diccionario con 7 keys, 
 c = close
 h = high
 l = low
 o = open
 t = timestamp
 s = status
 v = volumen
"""

df_historico = pd.DataFrame(json.loads(response.text))  # lo convierto en df
df_historico['t'] = pd.to_datetime(df_historico['t'], unit='s').dt.normalize() # cambio el formato de la fecha. 

df_historico.rename({'s':'status', 't':'timestamp', 'c':'close', 'o':'open', 'h':'high', 'l':'low', 'v':'volume'}, axis = 1, inplace=True)

df_historico
# supongo que se deberia dropear la columna status, pero bue...

    status  timestamp     close      open     high       low     volume
0       ok 2020-11-16  5769.000  5705.000  5796.50  5665.000   49819958
1       ok 2020-11-16  5758.190  5681.450  5900.00    39.920   65074417
2       ok 2020-11-17  5807.000  5770.000  5848.00  5767.000   52773366
3       ok 2020-11-17  5808.858  5760.370  5913.92  5632.000   78251686
4       ok 2020-11-18  5844.500  5830.000  5849.00  5808.000   55173433
..     ...        ...       ...       ...      ...       ...        ...
515     ok 2021-12-09  6637.026  6770.000  6820.00  6549.732   99364775
516     ok 2021-12-10  6577.500  6675.500  6675.50  6549.000   14918508
517     ok 2021-12-10  6700.000  6777.273  6819.50  6462.750  120505088
518     ok 2021-12-13  6457.000  6675.000  6675.00  6405.000   19151730
519     ok 2021-12-13  6562.500  6500.000  6590.00  6374.700  116281109

[520 rows x 7 columns]

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

fig = make_subplots(rows=2, cols=1, shared_xaxes=True,
                    vertical_spacing=0.1, subplot_titles=('Candlestick', 'Volume'),
                    row_width=[0.3, 0.7])

fig.add_trace(go.Candlestick(x=df_historico['timestamp'], 
                             open=df_historico['open'], 
                             high=df_historico['high'], 
                             low=df_historico['low'], 
                             close=df_historico['close']),
                             row=1, col=1)

fig.add_trace(go.Bar(x=df_historico['timestamp'], y=df_historico['volume'], showlegend=False), row=2, col=1)

fig.update(layout_xaxis_rangeslider_visible=False)
fig.show()

## Consulta de totales negociados

In [ ]:
data = '{"Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/total-negotiated', headers=headers, data=data)
totales_negociados = json.loads(response.text)
df_totales = pd.DataFrame(totales_negociados)

# Para hacerlo mas legible, reemplazo abreviaturas por el valor del diccionario descargado al principio
df_totales['symbol'] = df_totales['symbol'].replace(diccionario, regex=True)
df_totales['assetType'] = df_totales['assetType'].replace(diccionario, regex=True)
df_totales['parentKey'] = df_totales['parentKey'].replace(diccionario, regex=True)

df_totales

   settlementType                        symbol  ...  order       parentKey
0               1          Total Negociado BYMA  ...      1             NaN
1               1                Renta Variable  ...      2             NaN
2               1                      Acciones  ...      3  Renta Variable
3               1                       Cedears  ...      4  Renta Variable
4               1                    Ejercicios  ...      5  Renta Variable
5               1                    Renta Fija  ...      6             NaN
6               1                 Renta FijaPPT  ...      7      Renta Fija
7               1            - Títulos Públicos  ...      8   Renta FijaPPT
8               1    - Obligaciones Negociables  ...      9   Renta FijaPPT
9               1                 Renta FijaSEN  ...     10      Renta Fija
10              1            - Títulos Públicos  ...     11   Renta FijaSEN
11              1    - Obligaciones Negociables  ...     12   Renta FijaSEN
12              1                       Futuros  ...     13             NaN
13              1                      Opciones  ...     14             NaN
14              1                     Cauciones  ...     15             NaN
15              1  Préstamos de Titulos Valores  ...     16             NaN

[16 rows x 7 columns]

## Consulta bonos iamc

In [ ]:
data = '{"page_number":1, "page_size":500, "Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/seriesHistoricas/iamc/bonos', headers=headers, data=data)
bonos_iamc = json.loads(response.text)
df_bonos_iamc = pd.DataFrame(bonos_iamc['data'])

df_bonos_iamc

                                           descripcion  ...          isin
0    BONO REP. ARGENTINA EN U$S REGS. 5.625% - VTO....  ...  US040114HK99
1    BONO REP. ARGENTINA U$S REGS. 5.625% - V. 26/0...  ...  US040114HK99
2    BONOS INTERNAC. REP. ARG. U$S 4.625% - V. 11/0...  ...  US040114HP86
3    BONO INTERNAC. REP. ARG. U$S 4.625% - V. 11/01...  ...  US040114HP86
4    BONO REP. ARGENTINA 6.875% EN U$D - VTO. 26/01...  ...  US040114HL72
..                                                 ...  ...           ...
145                             O.N. YPF S.A. CLASE 16  ...  USP989MJBR17
146                             O.N. YPF S.A. CLASE 17  ...  USP989MJBS99
147                             O.N. YPF S.A. CLASE 18  ...  USP989MJBT72
148     O.N. YPF CLASE 28 8.75% EN U$S VTO. 04/04/2024  ...  USP989MJAY76
149  O.N. IRSA PROP. COM. CLASE 2 U$S 8.75% VTO. 23...  ...  USP5880UAB63

[150 rows x 14 columns]

# Datos de las empresas

## Datos de la especie

In [ ]:
data = '{"symbol":"ALUA","Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/fichatecnica/especies/general', headers=headers, data=data)
datos_especie = json.loads(response.text)

datos_especie['data'][0] ## Ni idea porque repite el mismo dato tantas veces

{'capitalizacion': 278320000000,
 'codigoIsin': 'ARALUA010258',
 'denominacion': 'Ordinarias Escriturales (1 Voto)',
 'descripcion': 'Pesos',
 'emisor': 'ALUAR ALUMINIO ARGENTINO S.A.',
 'insType': 'EQUITY',
 'lider': 'Si',
 'montoAutorizado': 2800000000,
 'tipoEspecie': 'Acciones',
 'valorNominal': 1}

## Datos generales

In [ ]:
data = '{"symbol":"ALUA","Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/fichatecnica/sociedades/general', headers=headers, data=data)
datos_generales = json.loads(response.text)

datos_generales['data']

[{'actividad': 'Explotación de una Planta de Aluminio Primario.',
  'calle': 'Marcelo Torcuato de Alvear 590',
  'cierreEjercicio': '30/06',
  'codPostal': 'C1058AAF',
  'dpto': '',
  'email': 'asjurid@infovia.com.ar',
  'fechaConstitucion': '26 de Junio de 1970',
  'localidad': 'Capital Federal',
  'logo': 13919,
  'pais': 'Argentina',
  'piso': '3°',
  'provinciaEstado': 'Capital Federal',
  'telefono': '(011) 4313-7593 / 4311-9026',
  'website': 'www.aluar.com.ar'}]

## Datos de responsables de relaciones con el mercado

In [ ]:
data = '{"symbol":"ALUA","Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/fichatecnica/sociedades/responsables', headers=headers, data=data)
datos_responsable = json.loads(response.text)

datos_responsable['data']

[{'cargo': 'Titular',
  'cargoEmpresa': '',
  'fechaDesignacion': '2001-11-30 00:00:00.0',
  'responsableMercado': 'Martínez Costa, Alberto Eduardo'},
 {'cargo': 'Suplente',
  'cargoEmpresa': '',
  'fechaDesignacion': '2006-07-12 00:00:00.0',
  'responsableMercado': 'Falcón, Miguel Juan'}]

## Datos del management

In [ ]:
data = '{"symbol":"ALUA","Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/fichatecnica/sociedades/administracion', headers=headers, data=data)
datos_management = json.loads(response.text)
df_management = pd.DataFrame(datos_management['data'])

df_management

                             cargo                         persona
0   Presidente                      MARTINEZ COSTA ALBERTO EDUARDO
1   Vicepresidente                              FRIEDENTHAL DANIEL
2   Director Titular                                KLAINER DANIEL
3   Director Titular                           LEVINAS MARTIN JOSE
4   Director Titular                             FRIEDENTHAL DIEGO
5   Director Titular                              PUCHES MIROSLAVO
6   Director Titular                  GOMEZ PRIETO MARCELO RODOLFO
7   Director Titular                            FALCON MIGUEL JUAN
8   Director Titular                       MARCEL ALBERTO ELEODORO
9   Director Titular                      MIGUELES PEDRO GUILLERMO
10  Director Titular                            PEREZ RAUL JOAQUIN
11  Director Suplente                          DIEHL JORGE ALBERTO
12  Director Suplente                     FRIEDENTHAL ANDRES PABLO
13  Director Suplente                           FRIEDENTHAL MYRIAM
14  Director Suplente                         VALDEZ RAMON HORACIO
15  Director Suplente                       ROMERO NORBERTO ANDRES
16  Director Suplente                        LEVINAS ARIEL SILVANO
17  Director Suplente                         LEYBA CARLOS GABRIEL
18  Director Suplente                       VENDRELL GABRIEL PABLO
19  Director Suplente                       DELUCA ALEJANDRO OSCAR
20  Director Suplente                        BIANCO CARLOS ALBERTO
21  Director Suplente                   PEREZ BELLO CARLOS ALBERTO
22  Director Suplente                        BIANCO CARLOS ALBERTO
23  Sindico Titular                             COZZA HUGO OSVALDO
24  Sindico Titular                        ARCUCCI RICARDO ANTONIO
25  Sindico Titular                         PODESTA NESTOR RODOLFO
26  Sindico Suplente                         MANTERO ANGEL ALFREDO
27  Sindico Suplente                           ANSELMO LIDIA ETHEL
28  Sindico Suplente                             ARIAS MARCOS OMAR
29  Contador Certificante Titular          PERRONE GABRIEL MARCELO
30  Contador Cert. Estud. Contable     Est. Price Waterhouse & Co.
31  Contador Certificante Suplente         CRAVERO REINALDO SERGIO
32  Miemb.Tit.Comite De Auditoria            Falcón Miguel Alfredo
33  Miemb.Tit.Comite De Auditoria            Mantero Ángel Alfredo
34  Miemb.Tit.Comite De Auditoria          Arcucci Ricardo Antonio

## Datos del balance

In [ ]:
params = (('symbol', 'ALUA'),)
response = s.get('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bolsar/balances', headers=headers, params=params)
datos_balance = json.loads(response.text)
datos_balance['data']
#Aca armo un df, pero ni idea si todas las especies tienen la misma estructura, habria que mirarlo bien, ademas se pierde la fecha, etc. Falta laburarlo.
df_balance = pd.DataFrame(datos_balance['data'][0]['Cuentas'])

df_balance

                                               Nombre       Importe
0                 Ingresos de actividades ordinarias   2.786378e+10
1                       Costo De Ventas Y/O Servicios -1.781838e+10
2                           Ganancia (Pérdida) bruta   1.004541e+10
3                  Honorarios a Directores y Síndicos -5.168052e+06
4                      Otros gastos de administracion -5.718754e+08
5         Gastos de comercializacion y/o distribucion -1.067912e+09
6                             Otros gastos operativos -1.889474e+07
7                                      Otros Ingresos           NaN
8                     Depreciaciones y Amortizaciones -1.994609e+09
9        Ganancia (pérdida) de actividades operativas  6.386949e+09
10                              Ingresos financieros   1.571340e+08
11                                Costos financieros   1.257032e+09
12                                             RECPAM  1.391389e+08
13                                   Otros Resultados  3.284012e+08
14            Ganancia (pérdida), antes de impuestos   8.268655e+09
15      Ingreso (gasto) por impuestos a las ganancias -3.074595e+09
16        Ganancia (pérdida)  del período / ejercicio  5.194060e+09
17    Otro resultado integral del ejercicio / período           NaN
18   Resultado Integral Total del Ejercicio / Período  5.194060e+09
19      Total cambios en Activos y Pasivos Operativos  3.921284e+09
20                  Total de Actividades de Inversión -2.986279e+08
21               Total de Actividades de Financiación -1.761196e+09
22  Incremento (Disminución) Neta de efectivo y eq...  1.861460e+09
23               Ganancia (pérdida) básica por acción  1.860000e+00
24             Ganancias (pérdida) diluída por acción  1.860000e+00
25  Total Patrimonio Neto del Ejercicio anterior (...  6.025424e+10

## Descarga de balances historicos 
(falta terminar de desarrollar)

In [ ]:

data = '{"symbol":"ALUA","Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/seriesHistoricas/balances', headers=headers, data=data)
balances_historicos = json.loads(response.text)

balances_historicos['data'][0]

## TOMAR EL NRO DE ARCHIVO DE ESTE LISTADO Y CONCATENARLO A ESTE URL https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/sba/download/
## POR EJEMPLO https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/sba/download/396964
## PERO NO TUVE TIEMPO DE ARMAR LA DESCARGA.

{'archivo': 396964,
 'balancesArchivo': 'https://www.bolsar.com/Downloads.aspx?Id=396964',
 'balancesFechaEstadoContable': '2021-09-30 00:00:00.0',
 'balancesFechaPresentacion': '2021-11-11 00:00:00.0',
 'tipoArchivo': 'pdf'}

# Renta Variable

## Acciones panel Lideres

In [ ]:
data = '{"excludeZeroPxAndQty":false,"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/leading-equity', headers=headers, data=data)
panel_acciones_lideres = json.loads(response.text)
df_panel_acciones_lideres = pd.DataFrame(panel_acciones_lideres['data'])

df_panel_acciones_lideres

    tradeVolume symbol  imbalance  ...  closingPrice  settlementPrice  quantityBid
0        2560.0   ALUA     0.0060  ...             0           100.00        886.0
1         151.0   BBAR     0.0059  ...             0           202.95         24.0
2        1517.0    BMA     0.0092  ...             0           283.25        900.0
3          14.0   BYMA    -0.0064  ...             0          1004.00        200.0
4        1494.0   CEPU    -0.0022  ...             0            67.00         45.0
5        3930.0   COME     0.0053  ...             0             5.61        536.0
6          50.0   CRES     0.0029  ...             0           102.00         10.0
7          21.0    CVH    -0.0182  ...             0           510.00         63.0
8        1910.0    EDN    -0.0081  ...             0            54.50        886.0
9        7967.0   GGAL     0.0005  ...             0           188.00        500.0
10        101.0   HARG     0.0262  ...             0           166.25        300.0
11       2895.0   LOMA    -0.0236  ...             0           247.50        200.0
12          3.7   MIRG    -0.0043  ...             0          3881.00          5.3
13       1692.0   PAMP    -0.0006  ...             0           148.25         20.0
14         22.0   RICH     0.0041  ...             0           240.00        500.0
15        725.0   SUPV     0.0087  ...             0            80.85          3.0
16       1834.0  TECO2     0.0302  ...             0           209.25         90.0
17         89.0  TGNO4    -0.0097  ...             0            91.00         10.0
18       3053.0  TGSU2     0.0115  ...             0           188.50        650.0
19        495.0   TRAN    -0.0151  ...             0            58.70          4.0
20        866.0   TXAR    -0.0039  ...             0           125.25         88.0
21       2256.0   VALO    -0.0143  ...             0            24.00      19001.0
22       1187.0   YPFD    -0.0083  ...             0           798.00         27.0

[23 rows x 27 columns]

## Acciones panel General

In [ ]:
data = '{"excludeZeroPxAndQty":false,"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/general-equity', headers=headers, data=data)
panel_acciones_general = json.loads(response.text)
df_panel_acciones_general = pd.DataFrame(panel_acciones_general['data'])

df_panel_acciones_general

     tradeVolume symbol  imbalance  ...  quantityBid  tickDirection  tradeHour
0            0.0   ABBA        0.0  ...          0.0            NaN        NaN
1            0.0  ABBAC        0.0  ...          0.0            NaN        NaN
2            0.0  ABBAD        0.0  ...          0.0            NaN        NaN
3            0.0   ABMT        0.0  ...          0.0            NaN        NaN
4            0.0  ABMTC        0.0  ...          0.0            NaN        NaN
..           ...    ...        ...  ...          ...            ...        ...
293          0.0  VALOC        0.0  ...          0.0            NaN        NaN
294          0.0  VALOD        0.0  ...          0.0            NaN        NaN
295          0.0  YPFDB        0.0  ...          0.0            NaN        NaN
296          0.0  YPFDC        0.0  ...          0.0            NaN        NaN
297          0.0  YPFDD        0.0  ...          0.0            NaN        NaN

[298 rows x 27 columns]

## CEDEARS

In [ ]:
data = '{"excludeZeroPxAndQty":false,"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/cedears', headers=headers, data=data)
panel_cedears = json.loads(response.text)
panel_cedears
df_panel_cedears = pd.DataFrame(panel_cedears)

df_panel_cedears

     tradeVolume symbol  imbalance  ...  quantityBid  tickDirection  tradeHour
0            0.0   AABA     0.0000  ...          0.0            NaN        NaN
1          942.0   AAPL    -0.0215  ...       1617.0            2.0   11:04:45
2            0.0  AAPLB     0.0000  ...          0.0            NaN        NaN
3            0.0  AAPLC     0.0000  ...          0.0           -1.0        NaN
4           10.0  AAPLD    -0.0265  ...         30.0            2.0   11:04:26
..           ...    ...        ...  ...          ...            ...        ...
742          0.0   YZCA     0.0000  ...          0.0           -1.0        NaN
743          0.0  YZCAC     0.0000  ...          0.0           -1.0        NaN
744         60.0     ZM    -0.0068  ...          1.0            2.0   11:01:16
745          0.0    ZMC     0.0000  ...          0.0           -1.0        NaN
746          0.0    ZMD     0.0000  ...          1.0           -1.0        NaN

[747 rows x 27 columns]

# Renta Fija

## Titulos Publicos

In [ ]:
data = '{"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/public-bonds', headers=headers, data=data)
panel_bonos = json.loads(response.text)
df_panel_bonos = pd.DataFrame(panel_bonos['data'])

df_panel_bonos

    tradeVolume symbol  imbalance  ...  closingPrice  settlementPrice  quantityBid
0          3462   AA22     0.0000  ...             0            107.0        60000
1             0   AE38     0.0000  ...             0              0.0          282
2             0  AE38C     0.0000  ...             0              0.0        50000
3           280  AE38D     0.0013  ...             0             37.1        34882
4            75   AL29     0.0102  ...             0           6980.0        50000
..          ...    ...        ...  ...           ...              ...          ...
62        10549   TX22     0.0066  ...             0            189.0         9999
63         1188   TX23     0.0108  ...             0            187.0         8108
64            0   TX24     0.0000  ...             0              0.0           99
65         1234   TX26     0.0000  ...             0            148.0        64091
66            0   TX28     0.0000  ...             0              0.0        25000

[67 rows x 29 columns]

## Letras

In [ ]:
data = '{"excludeZeroPxAndQty":false,"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/lebacs', headers=headers, data=data)
panel_letras = json.loads(response.text)
df_panel_letras = pd.DataFrame(panel_letras['data'])

df_panel_letras

     tradeVolume symbol  imbalance  ...  settlementPrice  quantityBid  tradeHour
0            0.0  BAM22        0.0  ...              0.0          0.0        NaN
1            0.0  BAM2C        0.0  ...              0.0          0.0        NaN
2            0.0  BAM2D        0.0  ...              0.0          0.0        NaN
3            0.0  BBA22        0.0  ...              0.0          0.0        NaN
4            0.0  BBD1C        0.0  ...              0.0          0.0        NaN
..           ...    ...        ...  ...              ...          ...        ...
227          0.0   XY2C        0.0  ...              0.0          0.0        NaN
228          0.0   XY2D        0.0  ...              0.0          0.0        NaN
229          0.0   XY2X        0.0  ...              0.0          0.0        NaN
230          0.0   XY2Y        0.0  ...              0.0          0.0        NaN
231          0.0   XY2Z        0.0  ...              0.0          0.0        NaN

[232 rows x 29 columns]

## Obligaciones Negociables

In [ ]:
data = '{"excludeZeroPxAndQty":false,"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/negociable-obligations', headers=headers, data=data)
panel_ons = json.loads(response.text)
df_panel_ons = pd.DataFrame(panel_ons)

df_panel_ons

      tradeVolume symbol  imbalance  ...  settlementPrice  quantityBid  tradeHour
0             0.0  AECAC        0.0  ...              0.0          0.0        NaN
1             0.0  AECAD        0.0  ...              0.0          0.0        NaN
2             0.0  AECAO        0.0  ...              0.0          0.0        NaN
3             0.0  AECAX        0.0  ...              0.0          0.0        NaN
4             0.0  AECAY        0.0  ...              0.0          0.0        NaN
...           ...    ...        ...  ...              ...          ...        ...
1660          0.0  ZA1AD        0.0  ...              0.0          0.0        NaN
1661          0.0  ZA1AP        0.0  ...              0.0          0.0        NaN
1662          0.0  ZA1BC        0.0  ...              0.0          0.0        NaN
1663          0.0  ZA1BD        0.0  ...              0.0          0.0        NaN
1664          0.0  ZA1BP        0.0  ...              0.0          0.0        NaN

[1665 rows x 29 columns]

## Cauciones

In [ ]:
data = '{"excludeZeroPxAndQty":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad, determina plazo de listado
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/cauciones', headers=headers, data=data)
panel_cauciones = json.loads(response.text)
df_panel_cauciones = pd.DataFrame(panel_cauciones)

df_panel_cauciones

     tradeVolume               symbol  ...  quantityBid  tradeHour
0            0.0  DOLAR-0102-U-CT-USD  ...          0.0        NaN
1            0.0  DOLAR-0103-U-CT-USD  ...          0.0        NaN
2            0.0  DOLAR-0104-U-CT-USD  ...          0.0        NaN
3            0.0  DOLAR-0202-U-CT-USD  ...          0.0        NaN
4            0.0  DOLAR-0203-U-CT-USD  ...          0.0        NaN
..           ...                  ...  ...          ...        ...
183          0.0  PESOS-3012-U-CT-ARS  ...          0.0        NaN
184          0.0  PESOS-3101-U-CT-ARS  ...          0.0        NaN
185          0.0  PESOS-3103-U-CT-ARS  ...          0.0        NaN
186          0.0  PESOS-3108-U-CT-ARS  ...          0.0        NaN
187          0.0  PESOS-3112-U-CT-ARS  ...          0.0        NaN

[188 rows x 30 columns]

## Plazos por lote

In [ ]:
data = '{"Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/plazo-lote', headers=headers, data=data)
panel_plazos_lote = json.loads(response.text)
df_panel_plazos_lote = pd.DataFrame(panel_plazos_lote['data'])

df_panel_plazos_lote

     tradeVolume              symbol  ...  quantityBid  tickDirection
0            0.0  A2E2-2602-T-CT-ARS  ...          0.0            NaN
1            0.0  AA22-2502-T-CT-ARS  ...          0.0           -1.0
2            0.0  AA22-3012-T-CT-ARS  ...          0.0           -1.0
3            0.0  AA22-3101-T-CT-ARS  ...          0.0           -1.0
4            0.0  AA22-3103-T-CT-ARS  ...          0.0           -1.0
..           ...                 ...  ...          ...            ...
990          0.0  YPFD-2904-T-CT-ARS  ...          0.0           -1.0
991          0.0  YPFD-3012-T-CT-ARS  ...          0.0           -1.0
992          0.0  YPFD-3101-T-CT-ARS  ...          0.0           -1.0
993          0.0  YPFD-3103-T-CT-ARS  ...          0.0           -1.0
994          0.0  YPFD-3105-T-CT-ARS  ...          0.0           -1.0

[995 rows x 29 columns]

## Prestamos Liquidacion

In [ ]:
data = '{"excludeZeroPxAndQty":false,"Content-Type":"application/json"}' ## excluir especies sin precio y cantidad
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/loans-liquidation', headers=headers, data=data)
panel_prestamos = json.loads(response.text)
df_panel_prestamos = pd.DataFrame(panel_prestamos['data'])

df_panel_prestamos

     tradeVolume              symbol  ...  quantityBid  tickDirection
0            0.0  AA22-1312-L-CT-ARS  ...          0.0            NaN
1            0.0  AA22-1412-L-CT-ARS  ...          0.0            NaN
2            0.0  AAPL-1312-L-CT-ARS  ...          0.0            NaN
3            0.0  AAPL-1412-L-CT-ARS  ...          0.0            NaN
4            0.0  AAPL-1512-L-CT-ARS  ...          0.0           -1.0
..           ...                 ...  ...          ...            ...
724          0.0  YPFD-1412-L-CT-ARS  ...          0.0            NaN
725          0.0  YPFD-1512-L-CT-ARS  ...          0.0           -1.0
726          0.0    ZM-1312-L-CT-ARS  ...          0.0            NaN
727          0.0    ZM-1412-L-CT-ARS  ...          0.0            NaN
728          0.0    ZM-1512-L-CT-ARS  ...          0.0           -1.0

[729 rows x 29 columns]

## Prestamos venta en corto

In [ ]:
data = '{"excludeZeroPxAndQty":false,"Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/loans-short-sale', headers=headers, data=data)
panel_prestamo_corto = json.loads(response.text)
df_panel_prestamo_corto = pd.DataFrame(panel_prestamo_corto['data'])

df_panel_prestamo_corto

    tradeVolume               symbol  ...  settlementPrice  quantityBid
0           0.0   AL30-3012-V-CT-ARS  ...              0.0          0.0
1           0.0   AL41-3012-V-CT-ARS  ...              0.0          0.0
2           0.0    BMA-2112-V-CT-ARS  ...              0.0          0.0
3           0.0   BYMA-2112-V-CT-ARS  ...              0.0          0.0
4           0.0   CRES-2112-V-CT-ARS  ...              0.0          0.0
5           0.0    CVH-2112-V-CT-ARS  ...              0.0          0.0
6           0.0   GD30-3012-V-CT-ARS  ...              0.0          0.0
7           0.0   GGAL-2112-V-CT-ARS  ...              0.0          0.0
8           0.0   LOMA-2112-V-CT-ARS  ...              0.0          0.0
9           0.0   MELI-2112-V-CT-ARS  ...              0.0          0.0
10          0.0   MIRG-2112-V-CT-ARS  ...              0.0          0.0
11          0.0   PAMP-2112-V-CT-ARS  ...              0.0          0.0
12          0.0    PBR-2112-V-CT-ARS  ...              0.0          0.0
13          0.0  TECO2-2112-V-CT-ARS  ...              0.0          0.0
14          0.0  TGSU2-2112-V-CT-ARS  ...              0.0          0.0
15          0.0   TX22-3012-V-CT-ARS  ...              0.0          0.0
16          0.0   TX26-3012-V-CT-ARS  ...              0.0          0.0
17          0.0   TXAR-2112-V-CT-ARS  ...              0.0          0.0
18          0.0   VALO-2112-V-CT-ARS  ...              0.0          0.0
19          0.0   YPFD-2112-V-CT-ARS  ...              0.0          0.0

[20 rows x 29 columns]


## Fideicomisos

In [ ]:
data = '{"page_number":1,"page_size": 5000, "Content-Type":"application/json"}'
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/financial-trusts', headers=headers, data=data)
fideicomisos = json.loads(response.text)
df_fideicomisos = pd.DataFrame(fideicomisos['data'])

df_fideicomisos

    simbolo  closePriceHom  avgPrice  ... closePrice  maxPrice cantOper
0     BT43B         97.618    97.618  ...     97.618    97.618        1
1     BT43C         96.125    96.125  ...     96.125    96.125        1
2     BT46A        103.380   103.380  ...    103.380   103.380        1
3     BT46B         97.250    97.250  ...     97.250    97.250        1
4     BT47C        124.050   124.050  ...    124.050   124.050        1
..      ...            ...       ...  ...        ...       ...      ...
163   TV16A         68.350    67.000  ...     68.350    68.350        2
164   T102A         17.000    17.050  ...     17.000    17.100        2
165   VC07C       4240.000  4240.000  ...   4240.000  4240.000        1
166   VC08A       7225.000  7225.000  ...   7225.000  7225.000        2
167   VP01A         82.670    82.670  ...     82.670    82.670        1

[168 rows x 14 columns]

## SENEBI - Bonos

In [ ]:
data = '{"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}'  ## Plazos de negociacion para listar. 
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/senebi-bonds', headers=headers,  data=data)
senebi_bonos = json.loads(response.text)
df_senebi_bonos = pd.DataFrame(senebi_bonos['data'])

df_senebi_bonos

    tradeVolume symbol  imbalance  ...  closingPrice  settlementPrice  quantityBid
0     120000000   AA22     0.0028  ...             0                0            0
1        566380   AE38    -0.0199  ...             0                0            0
2       4469000   AL30    -0.0046  ...             0                0            0
3       3616665   AL35    -0.0581  ...             0                0            0
4        841856  BA37D    -0.0084  ...             0                0            0
5        211688  BA7DC     0.0752  ...             0                0            0
6     500000000  BDC24    -0.0005  ...             0                0            0
7       1724565  CO21D    -0.0385  ...             0                0            0
8        344544   CO26     0.0110  ...             0                0            0
9      27154490   DICP    -0.0068  ...             0                0            0
10       663999  DICPC     0.0631  ...             0                0            0
11      9612134   GD30    -0.0255  ...             0                0            0
12      8041261  GD30C     0.0100  ...             0                0            0
13      4613186  GD30D    -0.0057  ...             0                0            0
14     22901776   GD35    -0.0345  ...             0                0            0
15       232027  GD35C     0.0154  ...             0                0            0
16      1268919   GD41    -0.0285  ...             0                0            0
17       821919  GD41C     0.0896  ...             0                0            0
18       224081  JUS2C     0.2832  ...             0                0            0
19     22932000  PBA25     0.0225  ...             0                0            0
20     28905920   PR15    -0.0102  ...             0                0            0
21      2960000  S24DD     0.0234  ...             0                0            0
22      2960000  SA24D     0.0552  ...             0                0            0
23      5622014   T2V2    -0.0015  ...             0                0            0
24     62272728   T2X2     0.0004  ...             0                0            0
25     39772728  T2X2C     0.0864  ...             0                0            0
26      1918570  TDEC2    -0.0048  ...             0                0            0
27    520044246   TO23     0.0023  ...             0                0            0
28    173593200   TO26     0.0363  ...             0                0            0
29       138228   TV22    -0.0103  ...             0                0            0
30      2974864   TV23     0.0103  ...             0                0            0
31   1806448256   TX22    -0.0012  ...             0                0            0
32   1004855516   TX23     0.0015  ...             0                0            0
33   4894575748   TX24    -0.0237  ...             0                0            0
34    178689318   TX26    -0.0074  ...             0                0            0

[35 rows x 26 columns]

## SENEBI - Letras

In [ ]:
data = '{"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## Plazos de negociacion para listar. 
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/senebi-letras', headers=headers, data=data)
senebi_letras = json.loads(response.text)
df_senebi_letras = pd.DataFrame(senebi_letras['data'])

df_senebi_letras

    tradeVolume symbol  imbalance  ...  closingPrice  settlementPrice  quantityBid
0       2475000  S28F2     0.0030  ...             0                0            0
1    2422216630  S31D1    -0.0057  ...             0                0            0
2     514644695  S31E2     0.0022  ...             0                0            0
3      77277082   SD1C     0.0300  ...             0                0            0
4      18426930   SD1D     0.0060  ...             0                0            0
5     106383000   SM2C     0.0071  ...             0                0            0
6       3964756  X23Y2     0.0012  ...             0                0            0
7      55446454  X28F2    -0.0021  ...             0                0            0
8       4323144  X29L2     0.0006  ...             0                0            0
9       4173692  X30J2     0.0038  ...             0                0            0
10     26705781   XA2C    -0.0016  ...             0                0            0

[11 rows x 26 columns]

## SENEBI - ONs

In [ ]:
data = '{"T2":true,"T1":false,"T0":false,"Content-Type":"application/json"}' ## Plazos de negociacion para listar. 
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/senebi-obligaciones-negociables', headers=headers, data=data)
senebi_ons = json.loads(response.text)
df_senebi_ons = pd.DataFrame(senebi_ons['data'])

df_senebi_ons

    tradeVolume symbol  imbalance  ...  closingPrice  settlementPrice  quantityBid
0       3245000  AER1O     0.0224  ...             0                0            0
1      92673000  BACBO    -0.0129  ...             0                0            0
2        604000  CSDOD     0.0075  ...             0                0            0
3         50000  GNCXD     0.0145  ...             0                0            0
4       1500000  MRBCC     0.0000  ...             0                0            0
5       1500000  MRCBO     0.0000  ...             0                0            0
6         30000  MTCGD     0.0015  ...             0                0            0
7        250000  RCC9O    -0.0537  ...             0                0            0
8         60000  RPC2D     0.0124  ...             0                0            0
9         60000  TLC5D    -0.0016  ...             0                0            0
10      2000000  TSC2O     0.0312  ...             0                0            0
11       759000  TTC1C    -0.0064  ...             0                0            0
12        66000  TTC1D    -0.0158  ...             0                0            0
13      1037000  TTC1O     0.0245  ...             0                0            0
14       519000  YCA6C    -0.0420  ...             0                0            0
15       895000  YCA6P    -0.0102  ...             0                0            0
16       400000  YMCJO     0.3991  ...             0                0            0
17       402000  YPCUC    -0.0182  ...             0                0            0
18       710000  YPCUD    -0.0183  ...             0                0            0

[19 rows x 26 columns]

# Noticias y Eventos

## Listado de hechos relevantes

In [ ]:
data = '{"filter":true,"publishDate":null,"publishToDate":null,"dateEntryFrom":null,"dateEntryTo":null,"Content-Type":"application/json"}' ## Parametros de los filtros.
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/relevant-facts', headers=headers, data=data)
hechos_relevantes = json.loads(response.text)
df_hechos_relevantes = pd.DataFrame(hechos_relevantes['data'])

df_hechos_relevantes

    especie  ...                                emisor
0            ...                       RED SURCOS S.A.
1      BCOM  ...                     BANCO COMAFI S.A.
2      BCOM  ...                     BANCO COMAFI S.A.
3      PCRI  ...  PETROQUIMICA COMODORO RIVADAVIA S.A.
4      BCOM  ...                     BANCO COMAFI S.A.
..      ...  ...                                   ...
135    FIAT  ...          FCA Compañía Financiera S.A.
136    TECO  ...               TELECOM ARGENTINA S. A.
137    PLAZ  ...                Plaza Logística S.R.L.
138     BPA  ...                  BANCO PATAGONIA S.A.
139     BPA  ...                  BANCO PATAGONIA S.A.

[140 rows x 6 columns]

## Avisos BYMA

In [ ]:
data = '{"filter":true,"fromDate":null,"toDate":null,"Content-Type":"application/json"}' ## Parametros de los filtros.
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/byma-ads', headers=headers, data=data)
avisos_byma = json.loads(response.text)
df_avisos = pd.DataFrame(avisos_byma['data'])

df_avisos

  simbolo  ...                               emisor
0    ABTC  ...  TMF Trust Company  (ARGENTINA) S.A.
1    ABTC  ...  TMF Trust Company  (ARGENTINA) S.A.
2    PRIO  ...               Provincia de Río Negro
3          ...                Albanesi Energía S.A.
4    BCOM  ...                    BANCO COMAFI S.A.
5    TECO  ...              TELECOM ARGENTINA S. A.
6    TECO  ...              TELECOM ARGENTINA S. A.
7    BVAL  ...                BANCO DE VALORES S.A.
8     BPA  ...                 BANCO PATAGONIA S.A.
9          ...                          Dracma S.A.

[10 rows x 6 columns]

## Boletines y Prospectos

In [ ]:
data = '{"date":"13/12/21","Content-Type":"application/json"}' ## Fecha de publicacion
response = s.post('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/bnown/newsletters', headers=headers, data=data)
boletines = json.loads(response.text)
df_boletines = pd.DataFrame(boletines['data'])

df_boletines

   descargaBoletin  I_BOLETIN_ID  ... descargaProspecto                 emisor
0           398893          6732  ...            398894  BANCO DE VALORES S.A.
1           398893          6732  ...            398895        MSU ENERGY S.A.
2           398893          6732  ...            398896   CREDITO DIRECTO S.A.

[3 rows x 8 columns]